<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")  %>
</head>
<body>
    <%- include("./partials/header.ejs")  %>
    
    <h2>Crear un nuevo cuadro</h2>

    <form action="/create" method="POST">

        <label for="name">Título</label>
        <input type="text" id="name" name="name">

        <label for="collection">Colección</label>
        <select name="collection" id="collection">
            <% collections.forEach(collection => { %>
                <option value="<%= collection.id %> "><%= collection.name %> </option>
            <% }) %>
        </select>

        <label for="price">Precio</label>
        <input type="number" name="price" id="price">

        <label for="size">Medidas</label>
        <input type="text" name="size" id="size">

        <label for="technique">Técnica</label>
        <input type="text" name="technique" id="technique">

        <label for="image">Subir una imagen</label>
        <input type="file" name="image" id="image">

        <label for="sold">¿Está vendida la obra?</label>
        <select name="sold" id="">
            <option value="0">Sí</option>
            <option value="1">No</option>
        </select>

        <label for="description">Descripción</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
       

    </form>

    <%- include("./partials/footer.ejs")  %> 
    
</body>
</html>