<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")  %> 
</head>
<body>

    <%- include("./partials/header.ejs")  %> 
   
    <main>

        <h2 class="title-collections-page">TRAZO</h2>
        <section class="collections">

            <% paintings.forEach(painting => { %>

                <article class="collection-item">
                    <a class="item-anchor" href="/<%= painting.id %>"><img src="/images/<%= painting.image %>" alt=""></a>  
                    <a class="title-anchor" href="/<%= painting.id %>">
                        <h3 class="item-title"><%=painting.name%></h3>
                    </a>
                    <p class="item-text"><%=painting.size%>. <%=painting.technique%>.</p>
                    <p class="item-text"><%=painting.description%>.</p>
                </article>
             
            <% }) %>
     

        </section>
    </main>
    
    <%- include("./partials/footer.ejs")  %> 
    
</body>
</html>