<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")  %>
</head>
<body>
    <%- include("../partials/header.ejs")  %>
    
 

    <section class="form-container">
    <h2 class="form-title">Agregar un nuevo cuadro</h2>
    <form action="/product/create" method="POST" enctype="multipart/form-data">
        
        <label for="name">Título</label>
        <input type="text" id="name" name="name">
        
        <label for="collection">Colección</label>
        <select name="collection" id="collection">
            <option value=""selected>Seleccionar colección</option>
            <% collections.forEach(collection => { %>
                <option value="<%= collection.id %> "><%= collection.name %> </option>
                <% }) %>
            </select>
            
            <label for="price">Precio</label>
            <input type="number" name="price" id="price">
            
            <label for="size">Medidas</label>
            <input type="text" name="size" id="size">
            
            <label for="technique">Técnica</label>
            <input type="text" name="technique" id="technique">
            
            <label for="image">Subir una imagen</label>
            <input type="file" name="image" id="image">

            <label for="img2">Subir imagen 2</label>
            <input type="file" name="img2" id="img2">

            <label for="img3">Subir imagen 3</label>
            <input type="file" name="img3" id="img3">
            
            <label for="sold">¿Está vendida la obra?</label>
          <select name="sold" id="sold">
            <option value="" selected>Sí/No</option>
            <option value="0">Sí</option>
            <option value="1">No</option>
          </select>
            
            <label for="description">Descripción</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            
            <button type="submit" class="form-buttton">Agregar cuadro</button>
            
            

    </form>
</section>

    <%- include("../partials/footer.ejs")  %> 
    
</body>
</html>