<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")  %>
</head>
<body>
    <%- include("../partials/header.ejs")  %>
    
 

    <section class="form-container">
    <h2 class="form-title">Editar un cuadro</h2>
    <form action="/product/edit/<%= painting.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
        
        <label for="name">Título</label>
        <input type="text" id="name" name="name" value="<%= painting.name %>">
        
        <label for="collection">Colección</label>
        <select name="collection" id="collection">
            <% collections.forEach(collection => { %>
            <% if (collection.id == painting.collection_id) { %>
                <option value="<%= collection.id %> " selected><%= collection.name %> </option>
            <% } else { %>
                <option value="<%= collection.id %>"><%= collection.name %> </option>
                <% } %>
          
                <% }) %>
            </select>
            
            <label for="price">Precio</label>
            <input type="number" name="price" id="price" value="<%= painting.price %>">
            
            <label for="size">Medidas</label>
            <input type="text" name="size" id="size" value="<%= painting.size %>">
            
            <label for="technique">Técnica</label>
            <input type="text" name="technique" id="technique" value="<%= painting.technique %>">
            
            <label for="image">Subir una imagen</label>
            <input type="file" name="image" id="image">
            
            <label for="sold">¿Está vendida la obra?</label>
          <select name="sold" id="sold">
            <% if (painting.sold == 1) { %>
                <option value="1"selected>No</option>
                <option value="0">Sí</option>
            <% } else { %>
            <option value="1">No</option>
            <option value="0" selected>Sí</option>

            <% } %>
          </select>
            
            <label for="description">Descripción</label>
            <textarea name="description" id="description" cols="30" rows="10"><%= painting.description %></textarea>
            
            <button type="submit" class="form-buttton">Editar cuadro</button>
            
            

    </form>
</section>

    <%- include("../partials/footer.ejs")  %> 
    
</body>
</html>